*{
    font-family: sans-serif;

}

.content{
    width: 100%;
    height: 120px;
    color:azure;
    background-color: cadetblue;
    //background-color: blue;
}

h3{
    margin-left: 50px;
    padding-top: 50px;
}