/*  TOC
    - Global
    - Entête
    - Liste des bières
    - Une bière
    - Anmation
--------------------------------------------------------*/

/*  Global
--------------------------------------------------------*/

*{
    font-family: 'Roboto', sans-serif;
    padding: 0; 
    margin: 0; 
}

body{
    background-color: #f6f6f6;
}

/*  Entête
--------------------------------------------------------*/

.entete{
    width: 100%;
    height: 150px;
    color:azure;
    //background-color: cadetblue;
    background-color: #b32d00;
    margin-bottom: 70px;
}

.entete h3{
    margin-left: 50px;
    padding-top: 65px;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

.entete img{
    margin-left: 35px;
    padding-top: 29px;
}

.entete p{
    margin-top: -7px;
    margin-left: 50px;
    font-weight: 300;
    letter-spacing: 0.04em;  
}

.lienGithub{
    position: fixed;
    right: 0;
    margin-right: 30px;
    top: 0;
    margin-top: 20px;
    color: black;
}

.lienGithub:hover{
    color: blue;
}

.classeDivRondVert{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: darkgreen;
    margin-left: 50px;
    margin-top: 17px;
}

.classeParVousEteConnecte{
    display: inline-block;
    color: black;
    padding-top: 15px;
}

.classeDivRondRouge{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    margin-left: 50px;
    margin-top: 17px;
}

.classeParVousNetePasConnecte{
    display: inline-block;
    color: black;
    padding-top: 15px;
}

/*  Liste des bières
--------------------------------------------------------*/

#listeBiere{
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #383838;
}

.bieres{
    width : 90%;
    margin : auto;
    display : flex;
    flex-flow : row;
    flex-wrap : wrap;
    justify-content : space-around;
    
    animation-name: animBiere;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


.chaqueBiere{    
    padding-bottom: 15px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.chaqueBiere:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.nomDeLaBiere{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #383838;
}

.brasserieDeLaBiere{
    margin-left: 20px;
    letter-spacing: 0.02em;
    color: #383838;
}

@media (max-width: 600px)
{
    .entete img{
        margin-left: 26px;
    }
    
    .entete p{
        margin-left: 40px;
    }
    
    .classeDivRondVert{
        margin-left: 40px;
    }
    
    .classeDivRondRouge{
        margin-left: 40px;
    }

    #listeBiere{
        margin-left: 40px;
        letter-spacing: 0em;
    }
    
}

/*  Une bière
--------------------------------------------------------*/

.biere{
    width : 90%;
    margin : auto;
    display : flex;
    flex-flow : row;
    flex-wrap : wrap;
    justify-content : space-around;
}

.uneBiereImage{
    margin-right: 5%;
    margin-bottom: 25px;

}

.uneBiereTexte{
    flex: 1;
    min-width: 300px;
    
    animation-name: animBiere;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.nomDeLaBierePage{
    //margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #383838;
}

.brasserieDeLaBierePage{
    font-size: 1.2em;
    letter-spacing: 0.02em;
    color: #383838;
}

.moyenneDeLaBierePage{
    display: inline-block;
    font-size: 3em;
    margin-top: 10px;
}

.descriptionDeLaBierePage{
    margin-top: 30px;

}


/*  Animation
--------------------------------------------------------*/

@keyframes animBiere
{
	from
	{
		opacity: 0;
        transform: translateY(200px);
	}
	to
	{
		opacity: 1;
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0, 0.635, 0.295, 1);
	}
}
